*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #0265A8;
}
.card{
    margin-top: 50px;
    background-color: black;
    color: #fff;
    cursor: pointer;
    width: 25rem; 
    height: 50rem;
}
.card img:hover{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
   -webkit-transition: .3s ease-in-out;
   border-radius: 10px;
   transition: .3s ease-in-out;
    filter: saturate(180%);
    border: solid 1px black;
    
   

}

nav.navbar{
    background-color: black;
    color: white;
}
.pagination{
    margin-top: 40px;
}
