<div class="container mt-4">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1"><h1>Super Heroes</h1></span>
        </div>
      </nav>
      
    </div>
    
  
    <div class="row">
  
  </div>
  <div class="row">
    <div class="col-sm" *ngFor="let heroe of listHeroes| paginate: { itemsPerPage: 9, currentPage: pageActual }">
      <div class="card">
        <img src="{{heroe?.image?.url}}" class="card-img-top" alt="{{heroe.name}}">
        <div class="card-body">
          <h5 class="card-title">{{heroe?.name}}</h5>
          <p class="card-text" *ngIf="heroe.biography.publisher === 'null'; else publisher">Publisher not found</p>
          <ng-template #publisher>
            <p class="card-text">Alignment: {{heroe?.biography?.alignment}}<br>
            Publisher: {{heroe?.biography?.publisher}}<br>
            Genero: {{heroe?.appearance?.gender}}<br>
            Raza: {{heroe?.appearance?.race}}<br>
            Combate: {{heroe?.powerstats?.combat}}<br>
            Durabilidad: {{heroe?.powerstats?.durability}}<br>
            Inteligencia: {{heroe?.powerstats?.intelligence}}<br>
            Poder: {{heroe?.powerstats?.power}}<br>
              
           
            
          </ng-template>
          
          
          
        </div>
      </div>
    </div>
    
    <div class="pagination">
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    </div>
    
  </div>
  
    
  </div>
  
  
  
  
  
